@page "/Advisor/{advisorId}/MyStudents"
@{
    var advisorId = ViewContext.RouteData.Values["advisorId"];
}

<h3>My Students</h3>

<div>
    <input id="studentFilter" class="form-control" type="text" placeholder="Filter students..." />
</div>

<div class="mt-2">
    <ul id="studentList" class="list-group">
        <partial name="_Spinner" />
    </ul>
</div>

<script id="studentTmpl" type="text/x-jsrender">
    <li class="list-group-item">
        <a href="/Advisor/@advisorId/Student/{{:id}}">
            <div class="row">
                <div class="col-1 p-1">
                    <img class="rounded-circle img-fluid img-thumbnail" src="{{:imagePath}}" />
                </div>
                <div class="col-11 p-1">
                    <span class="d-none">{{:id}}</span>
                    <h6 class="m-0">{{:lastName}}, {{:firstName}}</h6>
                    {{:level}} - {{:degreeName}} - {{:major}}
                </div>
            </div>
        </a>
    </li>
</script>

@section Scripts {
    <script>
        $.cachedAjax("/api/ajax/GetAdvisorStudents/@advisorId")
        .done(function(data) {
            var tmpl = $.templates("#studentTmpl");
            $("#studentList").html(tmpl.render(data));
        })
        .fail(function(xhr, status, error) {
            alert("Request Failed: " + status + ", " + error);
        });

        $("#studentFilter").on("keyup", function() {
            var value = $(this).val().toLowerCase();
            $("#studentList > li").filter(function() {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    </script>
}