/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-bottom: 20px;
    background-color: #F1F1F1;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}


/* DX */
.navbar-fixed-top {
    background: #d73f09;
    height: 60px;
}

.navbar-fixed-top > .navbar-brand > img {
    width: 170px;
}

.side-bar {
    color: black;
    background-color: #C0C0C0;
    padding: 0;
}

.side-bar .navbar-nav {
    width: 100%;
}

.side-bar .navbar-nav a {
    color: black;
    display: block;
    padding: .5rem 1rem;
    padding-left: 12px;
    text-decoration: none;
}

.side-bar .nav-group {
    border-bottom: 2px solid #B8B8B8;
}

.side-bar .nav-group:hover {
    background-color: #A9A9A9;
}

.side-bar .nav-group + .nav-item,
.side-bar .nav-item + .nav-group {
    border-top: 2px solid black;
}

.side-bar .nav-item {
    background-color: #D8D8D8;
    border-bottom: 1px solid #BEBEBE;
}

.side-bar .nav-item:hover {
    background-color: #F1F1F1;
    cursor: pointer;
}

.side-bar .nav-item.active {
    background-color: #F1F1F1;
}

.side-bar .badge {
    margin-left: 4px;
    top: -6px;
    position: relative;
}

/* Cards */

.card.bg-primary .row.bg-card {
    color: #004085;
    background-color: #cce5ff;
    border-bottom: 2px solid #b8daff;
}

.card.bg-danger .row.bg-card {
    color: #721c24;
    background-color: #f8d7da;
    border-bottom: 2px solid #f5c6cb;
}

.card.bg-info .row.bg-card {
    color: #0c5460;
    background-color: #d1ecf1;
    border-bottom: 2px solid #bee5eb;
}

.card.bg-secondary .row.bg-card {
    color: #383d41;
    background-color: #e2e3e5;
    border-bottom: 2px solid #d6d8db;
}

.card.bg-success .row.bg-card {
    color: #155724;
    background-color: #d4edda;
    border-bottom: 2px solid #c3e6cb;
}

.card .col-middle {
    display: flex;
    align-items: center;
}

/*
 * Card summary toggle.
 */

.card.show-summary .toggle-summary {
    transform: rotate(180deg);
}

.card.show-summary .data-entry {
    display: none;
}

.card:not(.show-summary) .summary {
    display: none;
}

/*
 * Term cards
 */

.card-term {
    width: 290px;
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
}

.card-term:not(.bg-secondary) .show-grade {
    display: none;
}

.card-term.dragOver {
    background-color: #c1f0cc !important;
    border: dashed 3px #28a745;
}

.card-term.dragOver li {
    background-color: #c1f0cc !important;
}

.card-term.bg-secondary .text-muted {
    color: darkgray !important;
}

.card-term.bg-info .text-muted {
    color: limegreen !important;
}

.card-term.bg-primary .text-muted {
    color: lightskyblue !important;
}

.card-term .data-entry {
    border-top: 1px solid rgba(0,0,0,.125);
}

/*
 * Student details
 */
    .container.student-details > .row > div:nth-child(1),
    .container.student-details > .row > div:nth-child(3) {
        background-color: #ffc107;
    }

.container.student-details > .row > div {
    border-bottom: 1px solid #6c757d;
    border-right: 1px solid #6c757d;
    padding-left: 5px;
    padding-right: 5px;
}

.container.student-details > .row:nth-child(1) > div {
    border-top: 1px solid #6c757d;
}

.container.student-details > .row > div:nth-child(1) {
    border-left: 1px solid #6c757d;
}

.tab-view {
    display: none;
}


/*
 * Make appointment
 */

#tabAppointmentContainer .row > div {
    border-left: 1px dotted gray;
    border-bottom: 1px dotted gray;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
}

#tabAppointmentContainer .row > div:nth-child(1) {
    border-left: 0;
    text-align: right;
}

#tabAppointmentContainer .row.card-header > div {
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 0;
}