@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="alert alert-secondary mb-5">
    For the Proof of Concept Advisor Portal you can explore both the student and advisor experiences.
    Click one of the options below to experience the Advisor Portal.
</div>

<div>
    <a class="btn btn-primary" href="/Advisor/100000001/Student/000000001" role="button">Login as <b>Advisor</b> 100000001 ~ Uses builtin scheduler</a>
</div>

<div class="mt-1">
    <a class="btn btn-primary" href="/Advisor/200000001/Student/000000001" role="button">Login as <b>Advisor</b> 200000001 ~ Uses TimeTrade scheduler</a>
</div>

<hr class="my-5" />

<div>
    <a class="btn btn-primary" href="/Student/000000001/CoursePlan" role="button">Login as <b>Student</b> 000000001</a>
</div>

<div class="alert alert-danger mt-5">
    Currently, only the above two entities have been created. More will be added in time.
</div>
