@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="alert alert-secondary">
    For the Proof of Concept Advisor Portal you can explore both the student and advisor experiences.
    Click one of the options below to experience the Advisor Portal.
</div>

<div class="alert alert-primary">
    Advisors
</div>

<div>
    <a class="btn btn-primary" href="/Advisor/100000001" role="button">Login as <b>Advisor</b> 100000001</a>
</div>

<hr />

<div class="alert alert-primary">
    Students
</div>

<div>
    <a class="btn btn-primary" href="/Student/000000001/CoursePlan" role="button">Login as <b>Student</b> 000000001</a>
</div>

<div class="alert alert-danger mt-5">
    Currently, only the above two entities have been created. More will be added in time.
</div>
