@page "/Student/{studentId}/Notes"

<partial name="_NotesTmpl" />

<div id="tabNotesContainer">
    <partial name="_Spinner" />
</div>

@section Scripts {
<script>
    $.views.settings.allowCode(true);
    gStudentId = '@ViewContext.RouteData.Values["studentId"]';
    tabNotesInit();
</script>
}
