@page "/Student/{studentId}/Notes"

<div id="tabNotesContainer">
    <partial name="_Spinner" />
</div>

<partial name="_NotesTmpl" />
<partial name="_InfoMessageTmpl" />

@section Scripts {
    <script>
    $.views.settings.allowCode(true);
    gStudentId = '@ViewContext.RouteData.Values["studentId"]';
    tabNotesInit();
    </script>
}
