@page "/Student/{studentId}/Progress"

<partial name="_ProgressLegend" />

<div id="tabProgressContainer">
    <partial name="_Spinner" />
</div>

<partial name="_ProgressTmpl" />

@section Scripts {
    <script>
    $.views.settings.allowCode(true);
    gStudentId = '@ViewContext.RouteData.Values["studentId"]';
    tabProgressInit();
    </script>
}
