@page "/Student/{studentId}/Schedule"

<div class="alert alert-secondary">
    <h4 class="alert-heading">Schedule an Advising Appointment</h4>
    <hr />
    <ul class="nav navbar-nav dropdown-select">
        <li class="dropdown">
            <div class="dropdown-toggle caret-off p-2" data-toggle="dropdown">
                <span class="chevron-right fa fa-chevron-down"></span>
                <div id="selectedAdvisor" data-id="" class="">
                    <span>Choose an Advisor</span>
                    <span>&nbsp;</span>
                </div>
            </div>
            <div class="alert alert-secondary w-100 dropdown-menu">
                <h5 class="alert-heading">My Advisor</h5>
                <div class="p-2 dropdown-select cursor-pointer mb-1 ml-4" data-id="100000001" onclick="schedulerSelectAdvisor(this)">
                    <div>John Doe ~ College of Engineering ~ Specialty</div>
                    <div class="text-muted">30 minutes</div>
                </div>
                <h5 class="alert-heading mt-3">College of Engineering</h5>
                <div class="p-2 dropdown-select cursor-pointer mb-1 ml-4" data-id="100000001" onclick="schedulerSelectAdvisor(this)">
                    <div>John Doe ~ College of Engineering ~ Specialty</div>
                    <div class="text-muted">30 minutes</div>
                </div>
                <div class="p-2 dropdown-select cursor-pointer mb-1 ml-4" data-id="100000001" onclick="schedulerSelectAdvisor(this)">
                    <div>John Doe ~ College of Engineering ~ Specialty</div>
                    <div class="text-muted">30 minutes</div>
                </div>
                <button type="button" class="btn btn-primary mt-3">Advisors in another college</button>
            </div>
        </li>
    </ul>
</div>

<div id="tabAppointmentContainer">
</div>

<div id="spinnerContainer" class="d-none">
    <partial name="_Spinner" />
</div>

<partial name="_SchedulerTmpl" />

<modal id="schedulerCreateAppointmentModal" title="Schedule Appointment" ok-title="Schedule" on-ok-click="">
    <div class="form-group">
        <div class="alert alert-danger">
            Not Implemented.
        </div>
    </div>
</modal>

@section Scripts {
<script>
    $.views.settings.allowCode(true);
    gStudentId = '@ViewContext.RouteData.Values["studentId"]';
</script>
}
