@page "/Student/{studentId}/Timeline"

<div id="tabTimelineContainer">
    <partial name="_Spinner" />
</div>

<partial name="_TermCardTmpl" />
<partial name="_TimelineTmpl" />

@section Scripts {
    <script>
    $.views.settings.allowCode(true);
    gStudentId = '@ViewContext.RouteData.Values["studentId"]';
    tabTimelineInit();
    </script>
}
