<script id="notesTmpl" type="text/x-jsrender">
    <div class="alert alert-info pb-1">
        <p><span class="badge badge-pill badge-warning mr-1">{{:context}}</span>{{:note}}</p>
        <p class="text-muted m-0">{{:source}}</p>
    </div>
</script>
