<script id="termCardTmpl" type="text/x-jsrender">
    {{*
        initTermCardLayout(data);
    }}
    <div class="card card-term text-white bg-{{:bgClass}}" data-id="{{:term.code}}" data-title="{{:term.title}}">
        <div class="card-header font-weight-bold">
            <i class="fas fa-angle-up toggle-summary" onclick="$(parentNode.parentNode).toggleClass('show-summary')"></i>
            {{:term.title}}
            {{if !readonly && false}}
            <button type="button" class="close float-right ml-3"
                    aria-label="Remove Term" title="Remove Term"
                    onclick="showRemoveTermModal({{:term.code}}, '{{:term.title}}')">
                <i class="fas fa-times"></i>
            </button>
            <button type="button" class="btn btn-warning btn-sm float-right"
                    aria-label="Add Course" title="Add Course"
                    onclick="showAddCourseModal({{:term.code}})">
                <i class="fa fa-plus fa-sm" aria-hidden="true"></i>&nbsp;Course
            </button>
            {{/if}}
        </div>
        {{for courses tmpl="#termCardCourseTmpl" ~bgClass=bgClass /}}
        <div class="p-3 summary">
            <span class="termCourseCount">{{:courses.length}}</span> course(s)
        </div>
        <div class="card-footer">
            <span class="float-left">
                Credits: <span class="termCredits">{{:termCredit}}</span>
                {{if !hideOverall && false}}
                / <span class="totalCredits">{{:overallCredit}}</span>
                {{/if}}
            </span>
            <span class="float-right">
                {{if !hideGpa && termGpa}}
                    GPA: <span class="termGpa">{{:termGpa}}</span>
                {{/if}}
                {{if !hideOverall && false}}
                    / <span class="totalGpa">{{:overallGpa}}</span>
                {{/if}}
            </span>
        </div>
    </div>
</script>

<script id="termCardCourseTmpl" type="text/x-jsrender">
    <div class="p-3 data-entry alert-{{:~bgClass}}" data-id="{{:code}}" data-grade="{{:grade}}" data-credits="{{:credit}}">
        <div>{{:title}}</div>
        <div class="muted">
            <span>Credits: {{:credit}}</span>
            <span class="show-grade float-right">
                {{if grade >= 0}}
                    Grade: {{:grade}}
                {{/if}}
            </span>
        </div>
    </div>
</script>
