<script id="timelineTmpl" type="text/x-jsrender">
    <div class="alert alert-primary">
        <b>{{:title}}</b>
    </div>
    <div class="clearfix">
        {{for terms tmpl="#termCardTmpl" /}}
    </div>
</script>

