@page "/Advisor/{advisorId}/Student/{studentId}"
@model IndexModel
@{
    var advisorId = ViewContext.RouteData.Values["advisorId"];
}

<div id="studentAlertsContainer"></div>
<partial name="_StudentDetails" for="Student" />

<div class="tab-container">
    <div id="tabSummary" class="tab-view">
        <div id="tabSummaryContainer">
            <partial name="_Spinner" />
        </div>
    </div>
    <div id="tabCoursePlan" class="tab-view">
        <div id="tabCoursePlanContainer">
            <partial name="_Spinner" />
        </div>
    </div>
    <div id="tabTimeline" class="tab-view">
        <div id="tabTimelineContainer">
            <partial name="_Spinner" />
        </div>
    </div>
    <div id="tabProgress" class="tab-view">
        <partial name="_ProgressLegend" />
        <div id="tabProgressContainer">
            <partial name="_Spinner" />
        </div>
    </div>
    <div id="tabAppointment" class="tab-view">
        <div id="tabAppointmentContainer" class="small"></div>
    </div>
    <div id="tabNotes" class="tab-view">
        <button type="button" class="btn btn-primary mb-2"
                aria-label="Create Note" title="Create Note"
                onclick="notesShowAddModal()">
            <i class="fa fa-plus" aria-hidden="true"></i>&nbsp;Note
        </button>
        <div id="tabNotesContainer">
            <partial name="_Spinner" />
        </div>
    </div>
    <div id="tabScores" class="tab-view">
        <div id="tabScoresContainer">
            <partial name="_Spinner" />
        </div>
    </div>
    <div id="tabTranscript" class="tab-view">
        <div class="alert alert-danger">
            Not Implemented.
        </div>
    </div>
</div>

<partial name="_TermCardTmpl" />
<partial name="_CoursePlanTmpl" />
<partial name="_TimelineTmpl" />
<partial name="_ProgressTmpl" />
<partial name="_NotesTmpl" />
<partial name="_TestScoresTmpl" />
<partial name="_InfoMessageTmpl" />

<script id="studentAlertTmpl" type="text/x-jsrender">
    <div class="alert alert-danger">
        {{for #data}}
        {{include tmpl="#studentAlertMsg" + #data + "Tmpl" /}}
        {{/for}}
    </div>
</script>

<script id="studentAlertMsgHSRCAssistanceTmpl" type="text/x-jsrender">
    <p>The student might qualify for additional financial assistance. Have the student contact HSRC for further assistance.</p>
</script>

@section Scripts {
    <script>
    $.views.settings.allowCode(true);
    gStudentId = '@Model.Student.Id';
    gAdvisorId = '@advisorId';

    $.cachedAjax("/api/ajax/GetStudentClaims/" + gStudentId + "/HSRCAssistance")
        .done(function (data) {
            var tmpl = $.templates("#studentAlertTmpl");
            $("#studentAlertsContainer").html($(tmpl.render(data)));
        })
        .fail(function (xhr, status, error) {
            alert("Request Failed: " + status + ", " + error);
        });

    var hash = window.location && window.location.hash;
    var tab = hash && hash.slice(1);
    if (!tab)
        tab = "tabCoursePlan";
    tabShow(tab);
    </script>
}
