@page "{id}"
@model IndexModel

<partial name="_StudentDetails.cshtml" for="Student" />

<div class="tab-container">
    <div id="tabSummary" class="tab-view">
        <div id="tabSummaryContainer">
            <partial name="_Spinner" />
        </div>
    </div>
    <div id="tabCoursePlan" class="tab-view">
        <div id="tabCoursePlanContainer">
            <partial name="_Spinner" />
        </div>
    </div>
    <div id="tabTimeline" class="tab-view">
        <div id="tabTimelineContainer">
            <partial name="_Spinner" />
        </div>
    </div>
    <div id="tabProgress" class="tab-view">
        <div class="alert alert-info">
            <span class="alert-heading h4 mr-4">Legend:</span>
            <i class="fas fa-check-square text-success mr-1"></i><span class="mr-4">Complete</span>
            <i class="fas fa-minus-square text-primary mr-1"></i><span class="mr-4">In Progress</span>
            <i class="far fa-square text-danger mr-1"></i><span class="mr-4">Not Complete</span>
        </div>
        <div id="tabProgressContainer">
            <partial name="_Spinner" />
        </div>
    </div>
</div>

<partial name="_SummaryTmpl.cshtml" />
<partial name="_CoursePlanTmpl.cshtml" />
<partial name="_TimelineTmpl.cshtml" />
<partial name="_ProgressTmpl.cshtml" />
