@page "/Advisor/{advisorId}/Student/{studentId}"
@model IndexModel
@{
    var advisorId = ViewContext.RouteData.Values["advisorId"];
}

<partial name="_StudentDetails.cshtml" for="Student" />

<div class="tab-container">
    <div id="tabSummary" class="tab-view">
        <div id="tabSummaryContainer">
            <partial name="_Spinner" />
        </div>
    </div>
    <div id="tabCoursePlan" class="tab-view">
        <div id="tabCoursePlanContainer">
            <partial name="_Spinner" />
        </div>
    </div>
    <div id="tabTimeline" class="tab-view">
        <div id="tabTimelineContainer">
            <partial name="_Spinner" />
        </div>
    </div>
    <div id="tabProgress" class="tab-view">
        <div class="alert alert-secondary">
            <span class="alert-heading h4 mr-4">Legend:</span>
            <i class="fas fa-check-square text-success mr-1"></i><span class="mr-4">Complete</span>
            <i class="fas fa-minus-square text-primary mr-1"></i><span class="mr-4">In Progress</span>
            <i class="fas fa-square text-warning mr-1"></i><span class="mr-4">Planned</span>
            <i class="far fa-square text-danger mr-1"></i><span class="mr-4">Not Complete</span>
        </div>
        <div id="tabProgressContainer">
            <partial name="_Spinner" />
        </div>
    </div>
    <div id="tabAppointment" class="tab-view">
        <div id="tabAppointmentContainer" class="small">
            <div class="alert alert-secondary">
                <button id="tabAppointmentPrev" class="btn btn-primary" onclick="makeAppointmentShowPrevWeek()">
                    <i class="fas fa-angle-double-left"></i>&nbsp;Prev
                </button>
                <button id="tabAppointmentNext" class="btn btn-primary" onclick="makeAppointmentShowNextWeek()">
                    Next&nbsp;<i class="fas fa-angle-double-right"></i>
                </button>
                <span class="h5 pl-3 align-middle">
                    <span id="tabAppointmentStart" data-date=""></span>
                    &nbsp;through&nbsp;<span id="tabAppointmentEnd"></span>
                </span>
            </div>
            <div class="card alert-secondary container">
                <div class="row card-header p-0">
                    <div class="col-2">
                    </div>
                    <div class="col-2">
                        Mon, <span></span>
                    </div>
                    <div class="col-2">
                        Tue, <span></span>
                    </div>
                    <div class="col-2">
                        Wed, <span></span>
                    </div>
                    <div class="col-2">
                        Thu, <span></span>
                    </div>
                    <div class="col-2">
                        Fri, <span></span>
                    </div>
                </div>
                @{
                    var inc = new TimeSpan(0, 30, 0);
                    var startTime = new DateTime(2018, 12, 10, 8, 0, 0);
                    var endTime = new DateTime(2018, 12, 10, 16, 0, 0);
                }
                @for (DateTime p = startTime, t = startTime + inc; t <= endTime; p = t, t += inc)
                {
                    <div class="row">
                        <div class="col-2">
                            @p.ToString("h:mm") - @t.ToString("h:mm tt")
                        </div>
                        <div class="col-2"></div>
                        <div class="col-2"></div>
                        <div class="col-2"></div>
                        <div class="col-2"></div>
                        <div class="col-2"></div>
                    </div>
                }
            </div>
        </div>
    </div>
    <div id="tabNotes" class="tab-view">
        <button type="button" class="btn btn-primary mb-2"
                aria-label="Create Note" title="Create Note"
                onclick="notesShowAddModal()">
            <i class="fa fa-plus" aria-hidden="true"></i>&nbsp;Note
        </button>
        <div id="tabNotesContainer">
            <partial name="_Spinner" />
        </div>
    </div>
    <div id="tabScores" class="tab-view">
        <div id="tabScoresContainer">
            <partial name="_Spinner" />
        </div>
    </div>
    <div id="tabTranscript" class="tab-view">
        <div class="alert alert-danger">
            Not Implemented.
        </div>
    </div>
</div>

<partial name="_TermCardTmpl.cshtml" />
<partial name="_CoursePlanTmpl.cshtml" />
<partial name="_TimelineTmpl.cshtml" />
<partial name="_ProgressTmpl.cshtml" />
<partial name="_NotesTmpl.cshtml" />
<partial name="_ScoresTmpl.cshtml" />

@section Scripts {
<script>
    gStudentId = '@Model.Student.Id';
    gAdvisorId = '@advisorId';
    $.views.settings.allowCode(true);
    makeAppointmentSetDates();
</script>
}