@page

<div class="btn-group" role="group">
    <button type="button" class="btn btn-secondary">All</button>
    <button type="button" class="btn btn-secondary">Middle</button>
    <button type="button" class="btn btn-secondary">Middle</button>
    <button type="button" class="btn btn-secondary">Right</button>
</div>
