<script id="coursePlanTmpl" type="text/x-jsrender">
    {{*
    initTermCardLayout(data);
    }}
    <div class="card term mb-2 text-white bg-{{:bgClass}}" data-id="{{:term.code}}" data-title="{{:term.title}}">
        <h5 class="card-header">
            <i class="fas fa-angle-up toggle-summary" onclick="$(parentNode.parentNode).toggleClass('show-summary')"></i>
            {{:term.title}}
            &nbsp;<small>
                (
                {{if termGpa }}
                GPA: <span class="termGpa">{{:termGpa}}</span>,
                {{/if}}
                Credit: <span class="termCredit">{{:termCredit}}</span>,
                Courses: <span class="termCourseCount">{{:courses.length}}</span>
                )
            </small>
            <button student-only type="button" class="close float-right ml-3"
                    aria-label="Remove Term" title="Remove Term"
                    onclick="coursePlanShowRemoveTermModal({{:term.code}}, '{{:term.title}}')">
                <i class="fas fa-times"></i>
            </button>
            <button student-only type="button" class="btn btn-warning btn-sm float-right"
                    aria-label="Add Course" title="Add Course"
                    onclick="coursePlanShowAddCourseModal({{:term.code}})">
                <i class="fa fa-plus fa-sm" aria-hidden="true"></i>&nbsp;Course
            </button>
        </h5>
        <div id="coursePlanTerm{{:term.code}}" class="container data-entry">
            <div class="row bg-card font-weight-bold card-header px-0">
                <div class="col-2">
                    Status
                </div>
                <div class="col-6">
                    Course
                </div>
                <div class="col-2 text-center px-1">
                    Grade
                </div>
                <div class="col-1 text-center px-1">
                    Credit
                </div>
            </div>
            {{for courses tmpl="#coursePlanEntryTmpl" ~termCode=term.code ~termTitle=term.title /}}
        </div>
    </div>
</script>

<script id="coursePlanEntryTmpl" type="text/x-jsrender">
    {{*
        if (data.status === 1)
            data.bgClass = "alert-danger";
        else
            data.bgClass = "bg-card";
    }}
    <div class="row {{:bgClass}} course" data-id="{{:code}}" data-grade="{{:grade}}" data-credit="{{:credit}}">
        <div class="col-2">
            {{if status === 4 }}
            Completed
            {{else status === 3}}
            In Progress
            {{else status === 2}}
            Planned
            {{else}}
            Not Completed
            {{/if}}
        </div>
        <div class="col-6">
            {{:code}} {{:title}}
        </div>
        <div class="col-2 text-center px-1">
            {{if status === 4 }}
            {{:grade}}
            {{/if}}
        </div>
        <div class="col-1 text-center px-1">
            {{:credit}}
        </div>
        <div class="col-1 text-center">
            {{if status < 3 }}
            <button student-only type="button" class="close float-right"
                    aria-label="Remove Course '{{:title}}'" title="Remove Course '{{:title}}'"
                    onclick="coursePlanShowRemoveCourseModal('{{:code}}', '{{:title}}', '{{:~termCode}}', '{{:~termTitle}}')">
                <i class="fas fa-times small"></i>
            </button>
            {{/if}}
        </div>
    </div>
</script>
