<script id="scheduleTmpl" type="text/x-jsrender">
    <div class="alert alert-secondary">
        <div class="row">
            <div class="col-2 text-left">
                <button id="tabAppointmentPrev" class="btn btn-primary"
                        {{if days[0] <= earliest}}disabled{{/if}}
                        onclick="schedulerShowPrevWeek()">
                    <i class="fas fa-angle-double-left"></i>&nbsp;Prev
                </button>
            </div>
            <div class="col-8 text-center">
                <div class="h6 pl-3 align-middle">
                    <span id="tabAppointmentStart" data-date="{{{{*:moment(data.days[0]).format('MM-DD-YYYY')}}">{{*:moment(data.days[0]).format("MMM D")}}</span>
                    &nbsp;through&nbsp;
                    <span id="tabAppointmentEnd">{{*:moment(data.days[4]).format("MMM D")}}</span>
                </div>
                <div class="small text-uppercase text-muted">
                    {{if weeksFromToday == 0}}this week{{else weeksFromToday == 1}}next week{{else}}in {{:weeksFromToday}} weeks{{/if}}
                </div>
            </div>
            <div class="col-2 text-right">
                <button id="tabAppointmentNext" class="btn btn-primary"
                        {{if days[4] >= latest}}disabled{{/if}}
                        onclick="schedulerShowNextWeek()">
                    Next&nbsp;<i class="fas fa-angle-double-right"></i>
                </button>
            </div>
        </div>
    </div>
    <div id="scheduleContainer" class="card alert-secondary container small">
        <div class="row card-header p-0">
            <div class="col-2"></div>
            {{for days tmpl="#scheduleHeaderColTmpl" /}}
        </div>
        {{for availability tmpl="#scheduleSlotRowTmpl" /}}
    </div>
</script>

<script id="scheduleHeaderColTmpl" type="text/x-jsrender">
    <div class="col-2">
        {{*:moment(data).format("ddd, MMM D")}}
    </div>
</script>

<script id="scheduleSlotRowTmpl" type="text/x-jsrender">
    <div class="row">
        <div class="col-2">
            {{*:moment(data.start).format("h:mm")}} - {{*:moment(data.end).format("h:mm A")}}
        </div>
        {{for slots tmpl="#scheduleSlotTmpl" /}}
    </div>
</script>

<script id="scheduleSlotTmpl" type="text/x-jsrender">
    {{include tmpl="#scheduleSlot" + #data + "Tmpl" /}}
</script>

<script id="scheduleSlot0Tmpl" type="text/x-jsrender">
    <div class="col-2 alert-success"><a href='#'>Make Appt</a></div>
</script>

<script id="scheduleSlot1Tmpl" type="text/x-jsrender">
    <div class="col-2 text-muted alert-secondary">Unavailable</div>
</script>

<script id="scheduleSlot2Tmpl" type="text/x-jsrender">
    <div class="col-2 text-muted alert-secondary">Busy</div>
</script>

<script id="scheduleSlot3Tmpl" type="text/x-jsrender">
    <div class="col-2 text-muted alert-warning">Advising</div>
</script>

<script id="scheduleSlot4Tmpl" type="text/x-jsrender">
    <div class="col-2 text-muted alert-danger">In Class</div>
</script>
