<script id="notesTmpl" type="text/x-jsrender">
    <div class="alert alert-info pb-1">
        <p><span class="badge badge-pill badge-warning mr-1">{{:context}}</span>{{:note}}</p>
        <p class="text-muted m-0">{{:source}}</p>
    </div>
</script>

<modal id="notesAddModal" title="Add Note" ok-title="Add" on-ok-click="notesAdd()">
    <div class="form-group">
        <textarea id="notesAddNote" class="form-control" rows="10" autofocus></textarea>
    </div>
</modal>