<script id="progressTmpl" type="text/x-jsrender">
    {{*
        if (data.status === 4 )
            data.bgClass = "bg-success";
        else if (data.status == 3)
            data.bgClass = "bg-primary";
        else if (data.status == 2)
            data.bgClass = "bg-warning";
        else
            data.bgClass = "bg-danger";
    }}
    <div class="card text-white {{:bgClass}} mb-2">
        <h6 class="card-header">
            {{:title}}
            <span class="float-right">Required Credits: {{:credit}}</span>
        </h6>
        {{for requirements tmpl="#progressEntryTmpl" /}}
    </div>
</script>

<script id="progressEntryTmpl" type="text/x-jsrender">
    {{*
        if (data.status === 4 ) {             data.bgClass = "alert-success";             data.iconClass = "fas fa-check-square text-success";         } else if (data.status == 3) {             data.bgClass = "alert-primary";             data.iconClass = "fas fa-minus-square text-primary";         } else if (data.status == 2) {             data.bgClass = "alert-warning";             data.iconClass = "fas fa-square text-warning";         } else {             data.bgClass = "alert-danger";             data.iconClass = "far fa-square text-danger";         }     }}
    <div class="row mx-0 py-2 border-top {{:bgClass}}">
        <div class="col-5">
            <i class="{{:iconClass}} mr-2"></i>{{:title}}
        </div>
        <div class="col-4">
            {{if course}}
                {{:course.code}} {{:course.title}}
            {{/if}}
        </div>
        <div class="col-1">
            <span class="float-left">{{if status === 4}} {{:course.grade}} {{/if}}</span>
            <span class="float-right">{{:credit}}</span>
        </div>
        <div class="col-2">
            {{if course}}
                {{:course.term.title}}
            {{/if}}
        </div>
    </div>
</script>
