
@{
    var activePage = ViewContext.RouteData.Values["page"] as string;
}

<ul class="navbar-nav">
    <li class="nav-group">
        <a asp-page="/Advisor/Index">
            <i class="fa fa-tachometer-alt float-right"></i>Dashboard
        </a>
    </li>

    <li class="nav-group">
        <a asp-page="/Advisor/MyStudents">
            <i class="fas fa-search float-right"></i>My Students
        </a>
    </li>

    @if (activePage == "/Advisor/Student/Index")
    {
        <li class="nav-group">
            <a asp-page="@Url.RouteUrl(ViewContext.RouteData.Values)">
                <i class="fa fa-user float-right"></i>Student
            </a>
        </li>
        <li class="nav-item" data-tab="tabSummary"><a onclick="tabClick(this)">Summary</a></li>
        <li class="nav-item" data-tab="tabCoursePlan"><a onclick="tabClick(this)">Course Plan</a></li>
        <li class="nav-item" data-tab="tabTimeline"><a onclick="tabClick(this)">Timeline</a></li>
        <li class="nav-item" data-tab="tabProgress"><a onclick="tabClick(this)">Progress</a></li>
        <li class="nav-item" data-tab="tabAppointment"><a onclick="tabClick(this)">Make Appointment</a></li>
        <li class="nav-item" data-tab="tabNotes"><a onclick="tabClick(this)">Notes</a></li>
        <li class="nav-item" data-tab="tabScores"><a onclick="tabClick(this)">Test Scores</a></li>
        <li class="nav-item" data-tab="tabTranscript"><a onclick="tabClick(this)">Unofficial Transcript</a></li>
    }

    <li class="nav-group">
        <a asp-page="/Advisor/Cohort/Index">
            <i class="fa fa-users float-right"></i>Cohorts
        </a>
    </li>
    @if (activePage == "/Advisor/Cohort/Index")
    {
        <li class="nav-item" data-tab="tabMyCohorts"><a onclick="tabClick(this)">My Cohorts</a></li>
        <li class="nav-item" data-tab="tabManageCohorts"><a onclick="tabClick(this)">Manage Cohorts</a></li>
    }

    <li class="nav-group">
        <a asp-page="/Advisor/Resource/Index">
            <i class="fas fa-toolbox float-right"></i>Resources
        </a>
    </li>
    @if (activePage == "/Advisor/Resource/Index")
    {
        <li class="nav-item" data-tab="tabFavorite"><a onclick="tabClick(this)">Favorite</a></li>
        <li class="nav-item" data-tab="tabRecent"><a onclick="tabClick(this)">Recent</a></li>
        <li class="nav-item" data-tab="tabFind"><a onclick="tabClick(this)">Find</a></li>
    }

    <li class="nav-group">
        <a asp-page="/Advisor/MyProfile/Index">
            <i class="fas fa-user-cog float-right"></i>My Profile
        </a>
    </li>
    @if (activePage == "/Advisor/MyProfile/Index")
    {
        <li class="nav-item" data-tab="tabPreferences"><a onclick="tabClick(this)">Preferences</a></li>
        <li class="nav-item" data-tab="tabRecent"><a onclick="tabClick(this)">Recent</a></li>
        <li class="nav-item" data-tab="tabFind"><a onclick="tabClick(this">Find</a></li>
    }
</ul>
